<!DOCTYPE html>
<html>
  <head>
    <title>Kai's Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container">
        <table>
            {% for item in items %}
                <tr>
                    <td><a href="https://store.steampowered.com/app/{{item.AppID}}" target="_blank"><img src="{{item.Image}}" alt="{{item.Name}} Logo"></a></td>
                    <td>{{ item.Name }}</td>
                    <td class="stars">{{ item.Score }}</td>
                    <td class="time">{{ item.Time }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="./static/js/main.js"></script>
  </body>
</html>

<!-- <a href="https://store.steampowered.com/app/{{appid}}">Link to Game</a> -->