<!DOCTYPE html>
<html>
  <head>
    <title>Kai's Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container">
        <table>
            {% for item in items %}
                <tr>
                    <td><img src="{{item.Image}}"></td>
                    <td>{{ item.Name }}</td>
                    <td> <a href="https://store.steampowered.com/app/{{appid}}">Link to {{ item.Name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- <a href="https://store.steampowered.com/app/{{appid}}">Link to Game</a> -->